@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.MuiStepConnector-line {
  display: none !important;
}

.MuiStepConnector-root {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.349);
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: red;
}

.cardInput {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  padding-left: 50px;
  padding-top: 16px;
}

.delivered{
  color: green;
}
.notDelivered{
  color: red;
}

